* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 1px 4px #000000;
}
main{
  display: grid;
	grid-template-columns: 1fr;
  width: fit-content;
  background-color: whitesmoke;
}
.hero, .weather, .event, .news, .join, .spotLight{
  font-size: 1rem;
  height: 100px;
  width: 410px;
  max-width: 760px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px auto;
  text-shadow:none;
}
p{
  padding: 1%;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  text-shadow:none;
}
.hero{
  grid-column: 1;
  grid-row: 1;
}
.weather{
  grid-column: 1;
  grid-row: 2;
}
.spotLight{
  grid-column: 1;
  grid-row: 3;
}
.event{
  grid-column: 1;
  grid-row: 4;
}
.news{
  grid-column: 1;
  grid-row: 5;
}
.join{
  grid-column: 1;
  grid-row: 6;
}
header{
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  margin-top: 2px;
  border-style: solid;
  background-color: #78a7b7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header img{
  height: 70px;
  margin:10px;
  grid-column: 1;
  grid-row: 1;
}
h1{
  font-size: 1.3rem;
  grid-column: 1;
  grid-row: 1;
  margin-left: 130px;
}
h2{
  font-size: 1.2rem;
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}
.social {
  grid-column: 1;
  grid-row: 1;
}
.social svg {
	width: 150px;
	height: 20px;
}
nav{
  grid-column: 1;
  grid-row: 2;
  border-style: solid;
  margin-top: 0 auto;
  max-width: 780;
  background-color: #55747e;
  margin: 0 auto;
}
nav ul {
	list-style-type: none;
}
nav ul a {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	transition: 0.3s;
}
nav a:hover {
  transition: 0.6s;
	background-color: #78a7b7;
	color: white;
}
footer{
  border-style: solid;
  text-align: center;
  font-size: 1.5rem;
  background-color: #78a7b7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.menu::before {
	content: "|||";
}

.navigation a:hover {
	color: white;
	background-color: black;
}
.responsive li {
	display: block;
}

.responsive a.menu::before {
	content: "X ";
}
