* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 1px 4px #000000;
}
header, main, footer, h1, h2{
  max-width: 767px;
	margin: 0 auto;
}
.hero, .weather, .event, .spotLight, .news {
  height: 100px;
  font-weight: bold;
  font-size: 1rem;
  width: flex;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px auto;
  text-shadow:none;
}
main{
  display: grid;
	grid-template-columns: 1fr;
	font-size: 1rem;
  background-color: whitesmoke;
}
h1{
  list-style: none;
  margin: 1%;
}
h2{
  border-style: solid;
  text-align: center;
  background-color: #78a7b7;
  font-size: 1.2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header img{
  height: 100px;
  margin:10px;
}
header{
  margin-top: 1%;
  border-style: solid;
  display: flex;
  width: flex;
  background-color: #78a7b7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav{
  border-style: solid;
  margin-top: 0 auto;
  max-width: 780;
  background-color: #55747e;
  margin: 0 auto;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul a {
	display: block;
	color: black;
	text-align: center;
	padding: -0.75rem;
	text-decoration: none;
	font-size: 1.5rem;
	transition: 0.5s;
}
nav a:hover {
  transition: 0.7s;
	background-color: #78a7b7;
	color: white;
}
footer{
  border-style: solid;
  text-align: center;
  font-size: 1.5rem;
  background-color: #78a7b7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
p{
  padding: 1%;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px auto;
  text-shadow:none;
}
.social {
  display: flex;
  margin-top: 20%;
}
.social svg {
	width: 25px;
	height: auto;
}
