@media only screen and (min-width: 60em) {
	
    h1 {
		font-size: 2rem;
	}
    header{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 2px;
    }
    h1, h2, footer, main{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        max-width: 1400px;
        margin: 0 auto;
      }
      .hero, .weather, .event, .spotLight, .news {
        height: 125px;
        font-size: 1.5rem;
      }
    nav {
		max-width: fit-content;
	}
    nav ul { 
        display: flex;
     }
    nav a {
      font-size: 1rem;
      padding: 0 6.3rem;
  }
  .social {
    display: flex;
    margin-top: 5%;
  }
  .social svg {
	width: 55px;
	height: auto;
}

}