@media only screen and (min-width: 37.5em) {
    main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        'h h h'
        'n n n'
        's l l'
        'j j j'
        'e w w';
    }
    html{
        height: 100%
      }
.joinNow{
    top: 100px;
    margin-left: 40px;
  
  }
    .hero img{
        height: 310px;
    }
      @media only screen and (min-width: 3.5em) {
        .navigation {
            font-size: 1.5rem;
            display: flex;
        }
        .navigation li {
            display: block;
            flex: 1 1 auto;
            width: 100px;
        }
        .navigation a {
            text-align: center;
        }
        .navigation li:first-child {
            display: none;
        }
    }
}